<div class="container">
    <header class="masthead d-flex" style="margin-top:20vh;margin-bottom: 10vh;">
      <div class="col-lg-6"><h1>Devoirs Faits</h1></div>    
      <div class="col-lg-6"><h3>
          <em>Accompagnez vos élèves<br />dans leurs devoirs</em>
        </h3></div>
        <div class="overlay"></div>
      </header>
  <form class="row">
    <fieldset class="col-12 col-sm-6">
      <legend>Organisateur</legend>

      <div class="form-group">
        <label for="nom_organisateur">Nom</label>
        <input type="text" 
          name="nom_organisateur" id="nom_organisateur"
          size="50"
          placeholder="Nom"
          class="form-control input-underline"
        />
      </div>

      <div class="form-group">
        <label for="prenom_organisateur">Prénom</label>
        <input type="text" 
          name="prenom_organisateur" id="prenom_organisateur"
          size="50"
          placeholder="Prénom"
          class="form-control input-underline"
        />
      </div>

      <div class="form-group">
        <label for="email_organisateur">Email</label>
        <input type="email" 
          name="email_organisateur" id="email_organisateur"
          size="50"
          placeholder="Email"
          class="form-control input-underline"
        />
      </div>
    </fieldset>

    <fieldset class="col-12 col-sm-6">
      <legend>Ecole</legend>

      <div class="form-group">
        <label for="nom_ecole">Nom</label>
        <input type="text" 
          name="nom_ecole" id="nom_ecole"
          size="50"
          placeholder="Nom"
          class="form-control input-underline"
        />
      </div>

      <div class="form-group">
        <label for="ville_ecole">Ville</label>
        <input type="text" 
          name="ville_ecole" id="ville_ecole"
          size="50"
          placeholder="Ville"
          class="form-control input-underline"
        />
      </div>
    </fieldset>
    <fieldset class="col-12 col-sm-12">
      <button type="submit" class="btn btn-primary col-12">Inscrire</button>
    </fieldset>
  </form>  
</div>