<div class="row purchace-popup">
  <div class="col-12">
    <span class="d-flex alifn-items-center">
      <h1>Salles de l'Etablissement</h1>
    </span>
  </div>
</div>
<div class="col-md-12 d-flex align-items-stretch grid-margin">
  <div class="row flex-grow">
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <form class="forms-sample">
            <div class="row">
              <div class="col-md-6 offset-md-3 grid-margin stretch-card">
                <div class="card-body">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="heure_debut">Créer une nouvelle salle</label>
                      <input type="text" class="form-control" id="nom_salle" placeholder="" name="nom_salle" id="nom_salle" [(ngModel)]="nom_salle">
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-success col-md-12" (click)="createSalle(nom_salle)">Créer</button>
                      <h5 class="card-title" style="color:red;" id="doublonInfo">{{doublonInfo}}</h5>
                    </div>

                    <div style="margin-bottom: 10px;">
                      <input *ngIf="selectedSalle != null;" type="text" name="newName" id="newName" [(ngModel)]="newName" placeholder="Nouveau nom">
                      <button *ngIf="selectedSalle != null;" type="button" class="custom-button btn btn-light" 
                        (click)="updateSalle(selectedSalle)" style="margin-bottom:10px;">Renommer</button>
                        <div></div>
                      <button *ngIf="selectedSalle != null;" type="button" class="custom-button btn btn-danger col-md-12" (click)="deleteSalle(selectedSalle)">Supprimer</button>
                    </div>

                    <div class="form-group">
                      <ul *ngFor="let salle of allSalles | nomDisponibles: filterParNom" >
                        <li (click)="edit(salle.idSalle)" class="text-center">
                          <button type="button" class="custom-button btn btn-light">{{ salle.nom }}</button>
                        </li>
                      </ul>
                      <pre class="text-center">(Sélectionner une salle pour l'éditer)</pre>

                      <button type="button" class="btn btn-light col-md-12">
                        <a href="/profile">Annuler</a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>