.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  a {
    color: black;
  }

  .custom-button {
    margin-left: 10px;
  }

  ul{
    margin-left: 0;
    padding-left: 0;
  }
  li{
    list-style-type: none;
    margin-left: 0;
  }