



<!-- <div class="container">
  <form class="row">
    <fieldset class="col-12 col-sm-6">
      <legend>Organisateur</legend>

      <div class="form-group">
        <label for="nom_organisateur">Nom</label>
        <input type="text" 
          name="nom_organisateur" id="nom_organisateur"
          size="50"
          placeholder="Nom"
          class="form-control input-underline"
        />
      </div>

      <div class="form-group">
        <label for="prenom_organisateur">Prénom</label>
        <input type="text" 
          name="prenom_organisateur" id="prenom_organisateur"
          size="50"
          placeholder="Prénom"
          class="form-control input-underline"
        />
      </div>

      <div class="form-group">
        <label for="email_organisateur">Email</label>
        <input type="email" 
          name="email_organisateur" id="email_organisateur"
          size="50"
          placeholder="Email"
          class="form-control input-underline"
        />
      </div>
    </fieldset>

    <fieldset class="col-12 col-sm-6">
      <legend>Ecole</legend>

      <div class="form-group">
        <label for="nom_ecole">Nom</label>
        <input type="text" 
          name="nom_ecole" id="nom_ecole"
          size="50"
          placeholder="Nom"
          class="form-control input-underline"
        />
      </div>

      <div class="form-group">
        <label for="ville_ecole">Ville</label>
        <input type="text" 
          name="ville_ecole" id="ville_ecole"
          size="50"
          placeholder="Ville"
          class="form-control input-underline"
        />
      </div>
    </fieldset>
    <fieldset class="col-12 col-sm-12">
      <button type="submit" class="btn btn-primary col-12">Inscrire</button>
    </fieldset>
  </form>  
</div> -->






<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth login-full-bg">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-dark text-left p-5">
            <h2>Ouvrir compte établissement</h2>
            <form class="pt-5">
                <div class="form-group">
                    <label for="exampleInputCity1">Ville</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea1">Etablissement</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
                  </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Email organisateur</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                  <i class="mdi mdi-account"></i>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                  <i class="mdi mdi-eye"></i>
                </div>
                <div class="form-group">
                  <label for="password2">Confirmation mot de passe</label>
                  <input type="password" class="form-control" id="password2" placeholder="">
                  <i class="mdi mdi-eye"></i>
                </div>


                <div class="mt-5">
                  <a class="btn btn-block btn-teal btn-lg font-weight-medium" href="../../index.html">Ouvrir mon compte</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>















<!-- <div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth register-full-bg">
      <div class="row w-100">
        <div class="col-lg-6 mx-auto">
            
            
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic form</h4>
                  <p class="card-description">
                    Basic form elements
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity1">City</label>
                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Textarea</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>



        </div>
      </div>
    </div>
  </div>
</div> -->