<div class="col-md-12 d-flex align-items-stretch grid-margin">
  <div class="row flex-grow">
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div *ngIf="administrateur; else elseBlock">
            <h4 class="card-title">
              Élèves
            </h4>
            <mat-selection-list #item>
            <div class="form form-inline">
              <div *ngFor="let filterItem of filterItems;" class="form-check" style="padding-right:20px;">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="filterItem.checked" [value]="filterItem.value" /> {{filterItem.nom}}
              </div>
            </div>
          </mat-selection-list>
            <!--<p>Selected items: <span *ngFor="let filterItem of checked()" style="padding-right:10px;">{{ filterItem.nom }}</span></p>-->
            <mat-selection-list #eleve>
               
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th class="hiddenMobile">Email</th>
                    <th>Présence</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>                      
                  <tr *ngFor="let eleve of eleves | async | elevesDisponibles: { disponible: ''} : checked() : false" style="width:100%" >
                    <td (click)="redirectEditUser(eleve.idUtilisateur);">
                        <strong>{{ eleve.nom }} </strong><em>{{ eleve.prenom }}</em>
                    </td>
                    <td (click)="redirectEditUser(eleve.idUtilisateur);" class="hiddenMobile">{{ eleve.mail }}/td>
                    <td (click)="redirectEditUser(eleve.idUtilisateur);">
                        <label class="badge badge-success" *ngIf="eleve.disponible == true;">&nbsp;&nbsp;&nbsp;</label>
                        <label class="badge badge-danger" *ngIf="eleve.disponible == false;">&nbsp;&nbsp;&nbsp;</label>
                      </td>
                    <mat-list-option></mat-list-option>
                  </tr>
                </tbody>
              </table>
            </mat-selection-list>
            <div class="text-right">
                <a class="btn btn-teal btn-lg font-weight-medium" href="#">
                    Effacer&nbsp;{{eleve.selectedOptions.selected.length}}&nbsp;eleve(s)
                </a>
              </div>
          </div>
          <ng-template #elseBlock>
            <p>
              Vous n'avez pas les droits pour afficher cette page !
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<i class="fas fa-camera-retro fa-xs"></i>
<i class="fas fa-camera-retro fa-sm"></i>
<i class="fas fa-camera-retro fa-lg"></i>
<i class="fas fa-camera-retro fa-2x"></i>
<i class="fas fa-camera-retro fa-3x"></i>
<i class="fas fa-camera-retro fa-5x"></i>
<i class="fas fa-camera-retro fa-7x"></i>
<i class="fas fa-camera-retro fa-10x"></i>
-->