<app-navbar></app-navbar>
<br><br>
<div *ngIf="administrateur; else elseBlock">


Liste des eleves:
  <mat-nav-list>
    <mat-list-item *ngFor="let eleve of listEleve | async">
       <a matLine href="...">{{ eleve.nom }}</a>
       <button mat-icon-button (click)="showInfo(link)">
          <mat-icon>info</mat-icon>
       </button>
    </mat-list-item>
  </mat-nav-list>
        
        
   
</div>
<ng-template #elseBlock>
  <p>
    Vous n'avez pas les droits pour afficher cette page !
  </p>
</ng-template>


<!--
<i class="fas fa-camera-retro fa-xs"></i>
<i class="fas fa-camera-retro fa-sm"></i>
<i class="fas fa-camera-retro fa-lg"></i>
<i class="fas fa-camera-retro fa-2x"></i>
<i class="fas fa-camera-retro fa-3x"></i>
<i class="fas fa-camera-retro fa-5x"></i>
<i class="fas fa-camera-retro fa-7x"></i>
<i class="fas fa-camera-retro fa-10x"></i>
-->