<div class="container">
  <div class="row">
    <calendar-day class="col-12 col-lg-2" dayLabel="Lundi">

    </calendar-day>
    <calendar-day class="col-12 col-lg-2" dayLabel="Mardi">
      
    </calendar-day>
    <calendar-day class="col-12 col-lg-2" dayLabel="Mercredi">
      
    </calendar-day>
    <calendar-day class="col-12 col-lg-2" dayLabel="Jeudi">
      
    </calendar-day>
    <calendar-day class="col-12 col-lg-2" dayLabel="Vendredi">
      
    </calendar-day>
    <calendar-day class="col-12 col-lg-1" dayLabel="Samedi">
      
    </calendar-day>
    <calendar-day class="col-12 col-lg-1" dayLabel="Dimanche">
      
    </calendar-day>
  </div>
</div>
