.col-12.col-md-2 {
    padding: 0px;
}

.custom-fond {
        background-image: url("../../../assets/template-wcs/img/fond.jpg");
        background-position: center;
        background-repeat: no-repeat;
}