.col-12.col-md-2 {
    padding: 0px;
}

.custom-fond {
        background-image: url("../../../assets/template-wcs/img/fond2.jpg");
        background-position: center;
        background-repeat: no-repeat;
}

.canceldeletion {
    background: #faa5a5;
    color : white;
    border: solid;
    border-color: #ff5656;
    border-radius: 5px;
}