<div class="container-scroller background-picture">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth login-full-bg">
        <div class="row w-100">
          <div class="col-lg-5 mx-auto">
            <div class="auth-form-dark text-left p-5">

                <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
                  <span id="reauth-email" class="reauth-email"></span>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
                    <label for="mail">Mail</label>
                    <input type="text" class="form-control" id="mail" name="mail"  [(ngModel)]="user.mail" #mail="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">an valid email is required</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                  </div>
                  <div id="remember" class="checkbox">
            
                  </div>
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form>
                  <a [routerLink]="['/register']" class="btn btn-link">Create new Account!</a>
              






            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="overlay"></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            
                    <div class="card card-container">
                      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                      <p id="profile-name" class="profile-name-card"></p>
                  
                        <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
                        <span id="reauth-email" class="reauth-email"></span>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
                          <label for="mail">Mail</label>
                          <input type="text" class="form-control" id="mail" name="mail"  [(ngModel)]="user.mail" #mail="ngModel" required />
                          <div *ngIf="f.submitted && !username.valid" class="help-block">an valid email is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>
                        <div id="remember" class="checkbox">
                  
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                        <a [routerLink]="['/register']" class="auth-link text-white">Créez votre compte</a>
                      </form><!-- /form -->
                        
                    </div><!-- /card-container -->

          </div>
        </div>
      </div>
    </div>






