$marginBottom: 10px;

$smLower: 576px;
$mdLower: 768px;
$lgLower: 992px;
$xlLower: 1220px;   

.colonne-semaine {
    background-color: rgba(128, 128, 128, 0.068);
    border: none;
    border-radius: 15px;
}

.card-body {
    width: 100%;
    padding: 0px;
    @media (min-width: $mdLower) { 
        height: 80vh;
    }
    //margin-bottom: $marginBottom;
    background-color: rgba(128, 128, 128, 0);
}

h2 {
    padding: 6px;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
}

.courses {
    //height: 93%;

    @media (min-width: $mdLower) { 
        overflow: auto;
        padding-bottom: 5px;
    }
}

.col-md-12.d-flex.align-items-stretch.grid-margin{
    margin: 0;
    padding: 2px;
}