$marginBottom: 4px;

$smLower: 576px;
$mdLower: 768px;
$lgLower: 992px;
$xlLower: 1220px;   

.card-body {
    width: 100%;
    padding: 0px;
    @media (min-width: $mdLower) { 
        height: 80vh;
    }
    margin-bottom: $marginBottom;
}

h2 {
    border-bottom: 2px solid black;
    padding: 6px;
    text-align: center;
    font-size: 0.7em;
}

.courses {
    height: 93%;

    @media (min-width: $mdLower) { 
        overflow: auto;
    }
}