/* Customize the toggle***************************** */

.toggle-check-input {
  width: 1px;
  height: 1px;
  position: absolute;
}
.toggle-check-text {
  display: inline-block;
  position: relative;
  background: #a89278;
  padding: 0.25em 0.5em 0.25em 2em;
  border-radius: 0.5em;
  min-width: 4.5em;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.15s;
}
.toggle-check-text:after {
  content: ' ';
  display: block;
  background: #FFF;
  width: 1.1em;
  height: 1.1em;
  border-radius: 1em;
  position: absolute;
  left: 0.3em;
  top: 0.25em;
  transition: left 0.15s, margin-left 0.15s;
}
.toggle-check-text:before {
  content: 'Non';
}
.toggle-check-input:checked ~ .toggle-check-text {
  background: #8ad869;
  padding-left: 0.5em;
  padding-right: 2em;
}
.toggle-check-input:checked ~ .toggle-check-text:before {
  content: 'Oui';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
  left: 100%;
  margin-left: -1.4em;
}


/* Customize the checkbox***************************** */
.containerCheck {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid grey;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .hiddenMobile {
    display: none;
  }
}
