<div class="row purchace-popup">
  <div class="col-12">
    <span class="d-flex align-items-center">
      <h1>{{monthFromDate}} {{year}} - Semaine {{weekNumber}}</h1>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-8 align-self-center" *ngIf="isAdministrateur">
    <div class="d-table-row grp-button">
      <button type="button" class="btn-sm btn-picker btn btn-success mr-2 btn-lg" (click)="goToCreation()">Créer Créneau</button>
      <button *ngIf="checkPresence()" type="button" class="btn-sm btn-picker btn btn-success mr-2 btn-lg" (click)="addWeekToSelection()">Ajouter à la sélection</button>
      <button *ngIf="!checkPresence()" type="button" class="btn-sm btn-picker btn btn-danger mr-2 btn-lg" (click)="removeOfSelection()">Retirer de la sélection</button>
      <button type="button" class="btn-sm btn-picker btn btn-success mr-2 btn-lg" (click)="goToDuplicate()">Dupliquer</button>
    </div>
    <mat-form-field style="width: 280px;">
      <mat-select [placeholder]="labelSelectedWeeksNumber">
        <mat-option *ngFor="let week of weeksToDuplicate" [value]="week">
          {{week*1000 | date : 'ww yyyy'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <span class="align-items-center">
      <button type="button" class=" btn-sm btn-picker btn date-picker" (click)="semainePrecedente()">
        </button>
          <input type="week" class="date-picker" (change)="update($event.target.value)" id="weeknum" name="weeknum" value="{{year}}-W{{weekNumber}}">
          <button type="button" class=" btn-sm btn btn-picker date-picker" (click)="semaineSuivante()"></button>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <week-calendar [weekNumber]="weekNumber" [year]="year"></week-calendar>
  </div>
</div>