<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Accueil</h1>
            <h2>Bienvenue {{currentUser[0].firstName}} {{currentUser[0].lastName}}</h2>
            <p>Quelques news ...</p>
            <ul>
                <li>Nombre d'élèves inscrits : 264</li>
                <li>Nombre d'enseignants inscrits : 46</li>
                <li>Nombre de créneaux cette semaine : 17</li>
                <li>Nombre d'élèves absents cette semaine : 3</li>
            </ul>
        </div>
    </div>
</div>
