<p>Bienvenue {{currentUser[0].firstName}} sur la page Home !</p>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
            <div class="nav-link">
                <!--<div class="profile-image"> <img src="./assets/template/images/faces/face4.jpg" alt="image"/> <span class="online-status online"></span> </div>-->
                <div class="profile-name">
                <p class="name">Richard V.Welsh</p>
                <p class="designation">Manager</p>
                <div class="badge badge-teal mx-auto mt-3">Online</div>
                </div>
            </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="index.html"><img class="menu-icon" src="./assets/template/images/menu_icons/01.png" alt="menu icon"><span class="menu-title">Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="pages/widgets.html"><img class="menu-icon" src="./assets/template/images/menu_icons/02.png" alt="menu icon"><span class="menu-title">Widgets</span></a></li>
            <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html"><img class="menu-icon" src="./assets/template/images/menu_icons/03.png" alt="menu icon"><span class="menu-title">Buttons</span></a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html"><img class="menu-icon" src="./assets/template/images/menu_icons/04.png" alt="menu icon"><span class="menu-title">Form</span></a></li>
            <li class="nav-item"><a class="nav-link" href="pages/charts/chartjs.html"><img class="menu-icon" src="./assets/template/images/menu_icons/05.png" alt="menu icon"><span class="menu-title">Charts</span></a></li>
            <li class="nav-item"><a class="nav-link" href="pages/tables/basic-table.html"><img class="menu-icon" src="./assets/template/images/menu_icons/06.png" alt="menu icon"><span class="menu-title">Table</span></a></li>
            <li class="nav-item"><a class="nav-link" href="pages/icons/font-awesome.html"><img class="menu-icon" src="./assets/template/images/menu_icons/07.png" alt="menu icon"> <span class="menu-title">Icons</span></a></li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages"> <img class="menu-icon" src="./assets/template/images/menu_icons/08.png" alt="menu icon"> <span class="menu-title">General Pages</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html">Blank Page</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html">Login</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html">Register</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html">404</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html">500</a></li>
                </ul>
            </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html"><img class="menu-icon" src="./assets/template/images/menu_icons/09.png" alt="menu icon"> <span class="menu-title">Typography</span></a></li>
            <li class="nav-item purchase-button"><a class="nav-link" href="https://www.bootstrapdash.com/product/star-admin-pro/" target="_blank">Get full version</a></li>
        </ul>
        </nav>





        
        <!-- partial -->
        <div class="main-panel">
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
        </footer>
        <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>