<div class="container"> 
  <div class="row">
    <div class="col-lg-12">
      <h2>Profil 
        <span *ngIf="editedUser.role ==='eleve'"> de l'élève :</span>
        <span *ngIf="editedUser.role ==='prof'"> du professeur :</span>
        {{editedUser.firstName}} {{editedUser.lastName}}
      </h2>
      <div class="float-right">
        <button type="button" class="btn btn-danger pull-right">Supprimer l'utilisateur</button>
      </div>
      <h4><div *ngIf="!editedUser;" class="alert alert-warning" role="alert">
          Aucun utilisateur correspondant
      </div></h4>
    </div>
  </div>

  <div class="row" style="margin-top:40px">
    <div class="" [ngClass]="(editedUser.role === 'eleve')?'col-lg-8':'col-lg-12'">
      <h4>Informations</h4>

      <form action="" method="POST">
      
        <input type="hidden" id="userId" name= "userId" value="{{editedUser.id}}">
        <input type="hidden" id="idEtablissement" name= "idEtablissement" value="{{editedUser.idEtablissement}}">
        <input type="hidden" id="role" name= "role" value="{{editedUser.role}}">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Nom</span>
          </div>
          <input type="text" class="form-control" id="userLastName" name="userLastName" value="{{editedUser.lastName}}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Prénom</span>
          </div>
          <input type="text" class="form-control" id="userFirstName" name="userFirstName" value="{{editedUser.firstName}}">
        </div>
        <div *ngIf="editedUser.role ==='eleve'" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Classe</span>
          </div>
          <input type="text" class="form-control" id="userClasse" name="userClasse" value="{{editedUser.classe}}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Adresse email</span>
          </div>
          <input type="text" class="form-control" id="userEmail" name="userEmail" value="{{editedUser.email}}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Mot de passe</span>
          </div>
          <input type="text" class="form-control" id="password" name="password" value="{{editedUser.password}}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Téléphone</span>
          </div>
          <input type="text" class="form-control" id="userTelephone" name="userTelephone" value="{{editedUser.tel}}">
        </div>
        <label class="checkbox-inline">
            <input type="checkbox" id="actif" value="actif" checked> Actif sur Devoirs Faits
          </label>
        <label class="checkbox-inline" style="margin-left:20px">
          <input type="checkbox" id="disponible" value="disponible" checked> Disponible pour un créneau
        </label>
        <div class="row" style="margin-top:40px; margin-bottom:40px">
            <div class="col-lg-12"><button type="button" class="btn btn-primary col-lg-12">Enregistrer</button></div>
          </div>
      </form>
    </div>


    <div class="col-lg-4" *ngIf="editedUser.role === 'eleve'">
      <h4>Groupes souscrits</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Groupe 12 <button (click)="removeGroup(12)" class="float-right">Supprimer</button></li>
        <li class="list-group-item">Groupe 13 <button (click)="removeGroup(13)" class="float-right">Supprimer</button></li>
        <li class="list-group-item">Groupe 14 <button (click)="removeGroup(14)" class="float-right">Supprimer</button></li>
        <li class="list-group-item">Groupe 15 <button (click)="removeGroup(15)" class="float-right">Supprimer</button></li>
      </ul>

      <div class="input-group">
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Choose...</option>
            <option value="1">Groupe 1</option>
            <option value="2">Groupe 2</option>
            <option value="3">Groupe 3</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Ajouter</button>
          </div>
        </div>
    </div>
  </div>
  
</div>
