// Styles qui seront importés de manière générale sur les pages et composants
//@import "~bootstrap/dist/css/bootstrap.css"; //déjà importé par le theme

@import "./assets/template-wcs/style.css";
@import "./assets/template-master/scss/style.scss";
@import "./assets/font-awesome/css/fontawesome-all.css";
@import "./assets/template-wcs/forms_wcs.css";
