.card-body {
    width: 100%;
    padding: 0px;
    background-color: rgba(225, 225, 225, 0.125);
    border-radius: 4px;    
}


a {
    text-decoration: none;
    color : red;
}

a h2 {
    color: black;
    font-size: 0.8em;
    text-align: center;
    padding-top: 5px;
    border-radius: 4px;
}

.card.slot {
    border: 0;
    margin-bottom: 0.5em;
}

.content {
    padding: 5px;
    padding-top: 10px;
}

.content > p {
    text-align: center;
    font-size: 0.7em;
    line-height: 0.2%;
}

p.duration {
    width: 100%;
    margin: 0;
    padding: 0;
}

span{
    color: red;
    display: inline-block;
    width: 100%;
    text-align: right;
}
span .fa-user-check {
    color: green;
    text-align: left;
}

.col-md-12.d-flex.align-items-stretch.grid-margin{
    margin: 0;
    margin-bottom: 2px;
}

p {
    color:black;
}

button.card-body {
    padding: 0.6em;
border: none;
background: none;
}


button.card-body > h2 {
    font-size: 0.8em;
}