
  <!-- <div *ngIf="administrateur; else elseBlock" class="col-md-12 d-flex align-items-stretch grid-margin">
     -->
  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
                <span *ngIf="editedUser.privilege ==='Eleve'"> Elève :</span>
                <span *ngIf="editedUser.privilege ==='Professeur'"> Professeur :</span>
                {{editedUser.prenom}} {{editedUser.nom}}
            </h4> 
            <div *ngIf="!editedUser;" class="alert alert-warning" role="alert">
                Aucun utilisateur correspondant
            </div>
            <!-- <div class="float-right">
              <button type="submit" class="btn btn-success mr-2">Supprimer l'utilisateur</button>
            </div> -->
            <p class="card-description">
              <!-- Horizontal form layout -->
            </p>
            <form class="forms-sample" action="" method="POST">
                <input type="hidden" id="userId" name= "userId" value="{{editedUser.id}}">
                <input type="hidden" id="idEtablissement" name= "idEtablissement" value="{{editedUser.idEtablissement}}">
                <input type="hidden" id="role" name= "role" value="{{editedUser.privilege}}">

              <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Nom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="usernom" name="usernom" value="{{editedUser.nom}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Prénom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="userprenom" name="userprenom" value="{{editedUser.prenom}}">
                </div>
              </div>
              <div class="form-group row" *ngIf="editedUser.privilege =='Eleve'">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Classe</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="userclasse" name="userclasse" value="{{editedUser.classe}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="useremail" name="useremail" value="{{editedUser.mail}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="userpassword" name="userpassword" value="{{editedUser.password}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Téléphone</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="usertelephone" name="usertelephone" value="{{editedUser.telephone}}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3"></div>
                <label class="checkbox-inline col-sm-9">
                    <input type="checkbox" id="actif" value="actif" [checked]="editedUser.actif"> Actif sur Devoirs Faits
                  </label>
                <div class="col-sm-3"></div>
                <label class="checkbox-inline col-sm-9">
                  <input type="checkbox" id="disponible" value="disponible" [checked]="editedUser.disponible"> Disponible pour un créneau
                </label>
              </div>
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light" onclick="onCancel()">Cancel</button>&nbsp;
              <button type="submit" class="btn btn-warning mr-2">Supprimer l'utilisateur</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>










  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4>Groupes souscrits</h4>

            <div class="form-group">
              <select class="custom-select col-9" id="inputGroupSelect04">
                  <option>Groupe 21</option>
                  <option>Groupe 22</option>
                  <option>Groupe 23</option>
                  <option>Groupe 24</option>
                  <option>Groupe 25</option>
              </select>
              <!-- <div class="input-group-append col-3"> -->
                <button class="btn btn-outline-secondary col-3" type="button">Ajouter</button>
              <!-- </div> -->
            </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Groupe 12 <button (click)="removeGroup(12)" class="float-right">Supprimer</button></li>
              <li class="list-group-item">Groupe 13 <button (click)="removeGroup(13)" class="float-right">Supprimer</button></li>
              <li class="list-group-item">Groupe 14 <button (click)="removeGroup(14)" class="float-right">Supprimer</button></li>
              <li class="list-group-item">Groupe 15 <button (click)="removeGroup(15)" class="float-right">Supprimer</button></li>
            </ul>
      
            <!-- <div class="form-group">
                <label for="exampleFormControlSelect2">Default select</label>
                <select class="form-control" id="exampleFormControlSelect2">
                  <option>Groupe 21</option>
                  <option>Groupe 22</option>
                  <option>Groupe 23</option>
                  <option>Groupe 24</option>
                  <option>Groupe 25</option>
                </select>
              </div> -->

            
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>   
    <p>
      No eleves here !
    </p>
  </ng-template>